<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.BODY_SENSORS"
        android:maxSdkVersion="35" />
    <uses-permission
        android:name="android.permission.BODY_SENSORS_BACKGROUND"
        android:maxSdkVersion="35" />

    <uses-permission
        android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission
        android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:label="IBERFIT"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".WearMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".IBERFITWearWorkoutService"
            android:exported="false"
            android:foregroundServiceType="health" />

        <service
            android:name=".IBERFITWearCommandListenerService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/iberfit/live-command" />
            </intent-filter>
        </service>
    </application>
</manifest>